<form method="get" action="/search">
  <input type="hidden" name="type" value="product">
  <input type="text" placeholder="Search for a product..." name="q" />
  <input  type="submit" value="Search" />
</form>