// Font Imports
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Variables
$accent-font: "Prohibition", sans-serif;
$accent-color: #d71f24;


// Mixins
@mixin bg {
    background-image: url('bg.jpg');
    background-color: #000;
    background-size: 100%;
    background-position: top, center;
    background-repeat: no-repeat;
}

@mixin primary-typography {
  	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	color: #222;
}

// Body etc
html {
  	@include bg;
}

body {
  	@include primary-typography;
  	background: none;
}

.wrapper {
    max-width: 1550px;
    width: 85%;
    margin: 0 auto;
}


// Header, Navigation, etc 
.site-header {
  	background-color: #ffffff;
  	padding: 20px 0 55px 0;
  
    .wrapper {
        display: flex;
        align-items: center; 
    }
  
    .info-container {
        flex-grow: 1;
        padding: 0 15px;
    }
  
  	.info-container p {
      	margin: 0;
    }
  
  	.cart-link {
      	color: $accent-color;
      	font-size: 16pt;
    }
  
  	.cart-link a {
      	padding: 0 0 0 20px;
      	display: inline-block;
      	color: #444;
      	font-family: $accent-font;
      	text-decoration: none;
    }
  
  	.search-container {
      	flex-grow: 1;
      	padding: 0 15px;
    }
  
    .search-container input[type="text"] {
        width: calc(100% - 85px);
        padding: 15px;
    }
  
    .search-container input[type="submit"] {
        background-color: $accent-color;
        color: #fff;
        border: none;
        padding: 15px;
        left: -5px;
        position: relative;
        border-top: 1px solid $accent-color;
        border-bottom: 1px solid $accent-color;
    }
}

.site-nav {
 	font-family: $accent-font;
    position: relative;
    top: -32.165px;
    z-index: 999;
  
  	ul {
      	background-color: $accent-color;
    	margin: 0;
  		padding: 0;
  		list-style: none;
      	position: relative;
    }
  
    ul:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 64.33px solid $accent-color;
        border-right: 15px solid transparent;
        right: -15px;
    }
  
    ul:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 64.33px solid $accent-color;
      border-left: 15px solid transparent;
      left: -15px;
  	}
  
  	li {
      	display: inline-block;
     	margin: 0;
     	padding: 0;
    }
  
    a {
        font-weight: normal;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14pt;
      	letter-spacing: 1px;
        padding: 20px 30px 23px 30px;
        display: block;
    }
  
  	li:hover a {
      	color: black;
    }
}

#MainContent {
  	background-color: #fff;
  	padding: 25px;
  	box-sizing: border-box;
  	line-height: 30pt;
}

.page-title {
    padding: 75px 0 100px 0;
    color: #fff;
    font-family: $accent-font;
	
  	h1 {
      font-weight: normal;
      margin: 0;
      padding: 25px 0;
      font-size: 54pt;
      position: relative;
      display: inline-block;
    }
  
    h1:before {
      content: '';
      width: 25%;
      height: 5px;
      background-color: $accent-color;
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
  	}
  
  	a {
      color: #fff;
    }
}

.product-card {
  	text-align: center;
  
  	.title {
      font-family: $accent-font;
      font-size: 14pt;
    }
  
  	a {
      background-color: $accent-color;
      color: #fff;
      width:100%;
      display: block;
      text-decoration: none;
      font-family: $accent-font;
    }
}

.template-product {
    button.buy-now {
        width: 100%;
        display: block;
        border: 0;
        background: $accent-color;
        color: #fff;
        font-family: $accent-font;
        font-weight: normal;
        font-size: 18pt;
        padding: 15px 0;
    }
}

.site-footer {
    color: #fff;
    padding: 50px 0;
  
  	.wrapper {
      padding: 0 25px;
    }
  
  	.copyright {
      padding: 50px 0 0 0;
    }
  
  	h2 {
      font-family: $accent-font;
      font-weight: normal;
      font-size:22pt;
      margin: 0;
      padding-bottom: 15px;
    }
    
  	a {
      color: #fff;
    }
  	
  	ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  
  	p {
      margin: 0;
    }
}