<div class="page-title">
  <div class="wrapper">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>
<main role="main" id="MainContent" class="wrapper">
  <div class="rte">
    {{ page.content }}
  </div>
</main>
