<div class="page-title">
  <div class="wrapper">
    {% include 'breadcrumbs' %}
    <h1>{{ product.title }}</h1>
  </div>
</div>
<main role="main" id="MainContent" class="wrapper">
{% section 'product' %}
</main>